<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="1.2" package="com.company.Company-pro">
	<uses-sdk android:minSdkVersion="21" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Company Pro" android:theme="@style/iosTheme" android:icon="@mipmap/icon"></application>
</manifest>